.mainContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sectionContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  width: 100%;
}

.headerSection {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.headerTextWrapper {
  margin-bottom: 16px;
}

.headerTitle {
  text-transform: uppercase;
  width: fit-content;
  font-size: 32px;
  margin-left: 0;
  margin-right: 0;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 20px;
}

.headerSubtitle {
  text-transform: uppercase;
  width: fit-content;
  font-weight: bold;
  color: #3b8501;
  font-size: 32px;
  margin-left: 0;
  margin-right: 0;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 20px;
}

.headerDescription {
  font-size: 14px;
  margin-top: 12px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
}

.headerDescription + .headerDescription {
  margin-top: 12px;
}

.chairImage {
  margin-left: 15px;
}

.officialInfo {
  font-size: 11px;
  line-height: 24px;
  text-align: center;
}

.officialName {
  color: #000000;
}

.officialTitle {
  color: #3B8501;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 8px;
}

.commissionersGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  gap: 34px;
}

.commissionerImage {
  margin-left: 25px;
}

.commissionerItemMiddle {
  margin-top: 0;
  margin-bottom: 0;
}

.commissionerItemLast {
  margin-top: 0;
}

.footerSection {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  margin-bottom: 22px;
}

.footerImage {
  margin-left: 35px;
}

.footerTextWrapper {
  margin-top: 26px;
}

.footerTitle {
  text-transform: uppercase;
  width: fit-content;
  font-size: 32px;
  margin-left: 0;
  margin-right: 0;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 20px;
}

.footerSubtitle {
  text-transform: uppercase;
  width: fit-content;
  font-weight: bold;
  color: #3b8501;
  font-size: 32px;
  margin-left: 0;
  margin-right: 0;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 20px;
}

.footerDescription {
  font-size: 14px;
  margin-top: 12px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
}

@media (max-width: 767px) {
  .mainContainer {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .sectionContainer {
    width: 90%;
  }

  .headerSection {
    margin-bottom: 50px;
  }

  .headerTextWrapper {
    margin-bottom: 16px;
  }

  .headerTitle {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .headerSubtitle {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .headerDescription {
    font-size: 12px;
    line-height: 20px;
  }

  .commissionersGrid {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .commissionerItemMiddle {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .commissionerItemLast {
    margin-top: 50px;
  }

  .footerSection {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .footerTextWrapper {
    margin-top: 26px;
  }

  .footerTitle {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .footerSubtitle {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .footerDescription {
    font-size: 12px;
    line-height: 20px;
  }
}