.mainContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .mainContainer {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

.sectionContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .sectionContainer {
    width: 100%;
    max-width: 1280px;
  }
}

.contentWrapper {
  width: 100%;
}

.headerSection {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .headerSection {
    margin-bottom: 22px;
  }
}

.headerTextWrapper {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .headerTextWrapper {
    margin-bottom: 22px;
  }
}

.headerTitle {
  text-transform: uppercase;
  width: fit-content;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: 0;
  line-height: 32px;
}

@media (min-width: 768px) {
  .headerTitle {
    font-size: 32px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .headerTitle {
    margin-left: 0;
    margin-right: 0;
  }
}

.headerSubtitle {
  text-transform: uppercase;
  width: fit-content;
  font-weight: bold;
  color: #3b8501;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: 0;
  line-height: 32px;
}

@media (min-width: 768px) {
  .headerSubtitle {
    font-size: 32px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .headerSubtitle {
    margin-left: 0;
    margin-right: 0;
  }
}

.headerDescription {
  font-size: 12px;
  margin-top: 12px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 20px;
}

@media (min-width: 768px) {
  .headerDescription {
    font-size: 14px;
    line-height: 24px;
  }
}

.headerDescription + .headerDescription {
  margin-top: 12px;
}

.chairImage {
  margin-left: auto;
  margin-right: auto;
}

.officialInfo {
  font-size: 17.7px;
  line-height: 24px;
  text-align: center;
}

.officialName {
  color: #000000;
}

.officialTitle {
  color: #3B8501;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 8px;
}

.commissionersGrid {
  display: grid;
  grid-template-columns: 1fr;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .commissionersGrid {
    grid-template-columns: repeat(4, 1fr);
    gap: 34px;
  }
}

.commissionerImage {
  margin-left: auto;
  margin-right: auto;
}

.commissionerItemMiddle {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .commissionerItemMiddle {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.commissionerItemLast {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .commissionerItemLast {
    margin-top: 0;
  }
}

.footerSection {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .footerSection {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}

.footerImage {
  margin-left: auto;
  margin-right: auto;
}

.footerTextWrapper {
  margin-top: 26px;
}

@media (min-width: 768px) {
  .footerTextWrapper {
    margin-top: 22px;
  }
}

.footerTitle {
  text-transform: uppercase;
  width: fit-content;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: 0;
  line-height: 32px;
}

@media (min-width: 768px) {
  .footerTitle {
    font-size: 32px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .footerTitle {
    margin-left: 0;
    margin-right: 0;
  }
}

.footerSubtitle {
  text-transform: uppercase;
  width: fit-content;
  font-weight: bold;
  color: #3b8501;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: 0;
  line-height: 32px;
}

@media (min-width: 768px) {
  .footerSubtitle {
    font-size: 32px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .footerSubtitle {
    margin-left: 0;
    margin-right: 0;
  }
}

.footerDescription {
  font-size: 12px;
  margin-top: 12px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 20px;
}

@media (min-width: 768px) {
  .footerDescription {
    font-size: 14px;
    line-height: 24px;
  }
}