.loaderWrapper {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.loader {
  animation: spin 1s linear infinite;
  border-radius: 9999px;
  height: 2.5rem;
  width: 2.5rem;
  border-bottom: 2px solid #3B8501;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heroContainer {
  display: flex;
  justify-content: center;
}

.heroInner {
  position: relative;
  width: 100%;
}

.heroBackgroundDesktop {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 900px;
  display: block;
}

.heroBackgroundMobile {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 478px;
  display: none;
}

.heroImage {
  object-fit: cover;
  object-position: center;
}

.heroContent {
  width: 100%;
  position: relative;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.heroTextWrapper {
  width: 100%;
  margin-top: 166px;
}

.heroTextContainer {
  text-align: center;
}

.heroTitle {
  color: #3b8501;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 67.45px;
  letter-spacing: 0;
  line-height: 82px;
  margin-bottom: 22.5px;
}

.heroSubtitle {
  font-weight: 900;
  color: #3b8501;
  text-transform: uppercase;
  font-size: 67.45px;
  letter-spacing: 0;
  line-height: 82px;
  margin-bottom: 22.5px;
}

.timerDesktop {
  display: block;
  margin-top: 5%;
}

.timerMobile {
  display: none;
}

.officialsDesktop {
  display: block;
  margin-top: 5%;
}

.officialsMobile {
  display: none;
}

.spacer {
  height: 7rem;
}

@media (max-width: 1024px) {
  .heroContent {
    max-width: none;
  }
}

@media (max-width: 767px) {
  .heroBackgroundDesktop {
    display: none;
  }

  .heroBackgroundMobile {
    display: block;
  }

  .heroTextWrapper {
    margin-top: 50px;
  }

  .heroTitle {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 0;
  }

  .heroSubtitle {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 0;
  }

  .timerDesktop {
    display: none;
  }

  .timerMobile {
    display: block;
  }

  .officialsDesktop {
    display: none;
  }

  .officialsMobile {
    display: block;
  }

  .spacer {
    height: 6rem;
  }
}