@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.image2 {
	background-image: url(https://res.cloudinary.com/dmye53wps/image/upload/v1752341187/Group_2_1_qtn57f.png);
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
}

.image3 {
	background-image: url(https://res.cloudinary.com/dmye53wps/image/upload/v1753009214/Here_section_background_1_u0eqfn.svg);
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
}
.text {
  /* box-shadow: 0px 4px 4px 0px #00000033; */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text2 {
  /* box-shadow: 0px 4px 4px 0px #00000033; */
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.gafata {
  font-family: var(--font-gafata);
}
.time {
	box-shadow: 0px 4.06px 4.06px 0px #00000040;
}
