.navbarContainer {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.navbarSection {
  padding: 1rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.logoWrapper {
  display: flex;
}

.logoImage {
  width: 92px;
  height: 92px;
}

.logoText {
  font-weight: bold;
  width: 283px;
  font-size: 1rem;
  line-height: 18px;
  color: #343434;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}

.adminLink {
  color: #3B8501;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
}

.adminLink:hover {
  color: #2d6801;
}

.adminButton {
  background-color: #3B8501;
  color: white;
  width: 149px;
  height: 46px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbarContainer {
    max-width: 28rem;
  }

  .navbarSection {
    width: 100%;
    padding: 1rem;
  }

  .logoImage {
    width: 53px;
    height: 53px;
  }

  .logoText {
    width: 200px;
    font-size: 11px;
    line-height: normal;
    margin-left: 0;
  }

  .adminButton {
    width: 75px;
    height: 31px;
    font-size: 9px;
  }
}