.mainContainer {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 65px;
}

.sectionContainer {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  padding-top: 95px;
  width: 100%;
}

.mainTitle {
  color: #3B8501;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 43px;
}

.subtitle {
  color: #343434;
  font-weight: bold;
  margin-top: 16px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 100%;
}

.stepsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 24px;
  justify-content: center;
}

.stepCard {
  background-color: #3B8501;
  padding: 26px;
  border-radius: 10px;
  flex: 1;
  min-width: 200px;
  max-width: 280px;
}

.stepNumber {
  font-size: 13px;
  letter-spacing: 0;
  color: #FAFAFA;
  line-height: 100%;
}

.stepTitle {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0;
  color: #FAFAFA;
  line-height: 24px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.stepDescription {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  color: #FAFAFA;
}

.noteText {
  color: #F3FF0D;
  font-weight: bold;
}

@media (max-width: 767px) {
  .mainContainer {
    padding-bottom: 40px;
  }

  .sectionContainer {
    width: 90%;
  }

  .contentWrapper {
    padding-top: 40px;
  }

  .mainTitle {
    font-size: 1.5rem;
  }

  .subtitle {
    margin-top: 8px;
    font-size: 0.75rem;
    line-height: 20px;
  }

  .stepNumber {
    font-size: 10px;
    line-height: 20px;
  }

  .stepTitle {
    font-size: 14px;
    line-height: 20px;
  }

  .stepDescription {
    font-size: 11px;
    line-height: 20px;
  }
}